.signup{
  position: relative;
  background-image: url('https://images.pexels.com/photos/12290109/pexels-photo-12290109.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.signup .signup__box {
  width: 60%;
  background-color: #fff;
  opacity: 0.9;
  border-radius: 10px;
}

.signup .signup__box .form-control {
  border-radius: 100px;
}

.signup .signup__box .btn-facebook{
  text-align: center;
  background-color: #2151a1;
  color: #fff;
}

.signup .signup__box .btn-google{
  text-align: center;
  background-color: #ea4335;
  color: #fff;
}

.signup .signup__box .required_star{
  color: red;
}


.signup .signup__box .registerBtn{
  background-color: #052b36;
  color: white;
  letter-spacing: 1px;
}

.signup .signup__box .form-check-input:checked {
    background-color: #052b36;
    border-color: #052b36;
}

.signup .signup__box .form-label{
  color: black;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.signup .signup__box .registerBtn:hover{
  border: 1px solid#052b36;
  color: #052b36;
  letter-spacing: 1px;
  background-color: white;
}

@media screen and (max-width : 992px){
  .signup .signup__box {
  margin: 0 auto;
  width: 100%;
  background-color: #fff;
  opacity: 0.9;
  border-radius: 10px;
}

.signup .signup__box .btn-facebook{
  margin-bottom: 15px;
}

.signup .signup__box .p-5{
  padding: 2rem !important;
}


}